<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/main.css">
        <title>Uriya Mekaiten's blog</title>

    </head>

    <body>
        
        <div class="page_container">

            <div class="page_header">

                <div class="navbar_placeholder">
                </div>
                
                <ul class="navbar_container">
                    
                    <li class="navbar_item"><a class="navbar_button" href="/">home</a></li>
                    <li class="navbar_item"><a class="navbar_button" href="/new_post">new post</a></li>
                    <li class="navbar_item"><a class="navbar_button" href="/new_rand_post">new random post</a></li>
                    <li class="navbar_item"><a class="navbar_button" href="/new_rand_post_smallest">new random post (smallest)</a></li>
                    <li class="navbar_item"><a class="navbar_button" href="/new_rand_post_big_title">new random post (big title)</a></li>
                    <li class="navbar_item"><a class="navbar_button" href="/new_rand_post_big_content">new random post (big content)</a></li>
                    <li class="navbar_item"><a class="navbar_button" href="/new_rand_post_biggest">new random post (biggest)</a></li>
                    <li class="navbar_item"><button class="navbar_button toggle_view_button">collapse all</button></li>
                    
                </ul>

            </div>
